{% extends "base.html" %}
{% load static %}
{% block title%}我的購物車{% endblock %}

{% block content %}
<div id="title">
    <h1>我的購物車</h1>
</div>

<div id="clear-a-button" style="margin-bottom: 15px;">
    <a href="{% url 'clear-cartitem' %}">清空購物車</a>
</div>

<div id="review-cart">
    <table id="review-cart-table">

        {% for cartitem in cartitems%}
        <tr>
            <td>商品名稱:
                <a href="{% url 'review-product-detail' cartitem.product.id %}">{{cartitem.product.product_name}}</a>
            </td>
            <td rowspan="2">
                <div id="delete-a-cartitem-button">
                    <a href="{% url 'delete-cartitem' cartitem.product.id %}">刪除</a>
                </div>
            </td>
        </tr>

        <tr>
            <td>商品價格:{{cartitem.product.product_price}}</td>

        </tr>

        <tr>
            <td>商品數量:{{cartitem.quantity}}</td>
            <td rowspan="2">
                <div id="edit-cart-a-button">
                    <a href="{% url 'edit-cartitem' cartitem.product.id %}">修改數量</a>
                </div>
            </td>
        </tr>

        <tr>
            <td><br></td>

        </tr>
        <tr>
            <td colspan="2">
                <hr>
            </td>

        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"> 總金額:{{total_amount}}</td>
        </tr>

    </table>

</div>


{% endblock %}