body {
    background-color: rgb(247, 201, 201);
}

#title {
    text-align: center;
}

#submit-button,
#reset-button {
    margin-top: 10px;
    margin-left: 20px;
}

#message,
#errors {
    color: red;
    font-weight: 700;

}

#user-register-form,
#chalogin-form,
#create-userprofile,
#review-userprofile,
#edit-userprofile,
#create-product,
#edit-product-form,
#delete-product-form {
    width: 30%;
    margin: auto;
    background-color: rgb(243, 154, 139);
    padding: 20px;
    border-radius: 10px;
}

#chalogin-form {
    width: 20%;
}

#navbar {
    background-color: rgb(243, 154, 139);
    padding: 10px;



}

#navbar a,
#edit-a-button a,
#page-a-button a,
#add-cart-a-button a {
    background-color: aliceblue;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 5px;

}

#edit-a-button,
#page-a-button,
#add-cart-a-button {
    margin-top: 20px;
    text-align: center;
}

table {
    margin: auto;
    border: solid 1px white;
    border-collapse: collapse;
    text-align: center;



}

td,
th {
    border: solid 1px white;
    border-collapse: collapse;

}

th {
    background-color: rgb(243, 154, 139);
}


#review-product-table {
    width: 50%;
}

#review-product-table-staff {
    width: 80%;
}

table#review-product-detail-table {
    width: 35%;
    height: 500px;
}

#delete-product-form {
    text-align: center;
}