{% extends "base.html" %}
{% load static %}
{% block title%}my_shop 商品內容{% endblock %}

{% block content %}
<div id="title">
    <h1>商品內容</h1>
</div>

<table id="review-product-detail-table">
    <tr>
        <th>商品名稱</th>
    </tr>
    <tr>
        <td>{{product.product_name}}</td>
    </tr>
    <tr>
        <td>
            {% if product.product_img %}
            <img src="{{product.product_img.url}}" alt="">
            {% else %}
            沒有圖片
            {% endif %}
        </td>
    </tr>
    <tr>
        <td id="product-description" style="text-align: left; height: 100px;padding-left: 8px;">
            {{product.product_description}}</td>
    </tr>
    <tr>
        <td> 價格:{{product.product_price}}</td>
    </tr>
    <tr>
        <td> 庫存:{{product.product_stock}}</td>
    </tr>

</table>

<div id="add-cart-form">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="{{form.quantity.id_for_label}}">下單數量</label> <br>
        {{form.quantity}}

        <div id="errors">
            {% for field in form %}
            {% if field.errors %}
            {% for error in field.errors %}
            {{error}} <br>
            {% endfor %}
            {% endif %}
            {% endfor %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            {{error}} <br>
            {% endfor %}
            {% endif %}

        </div>


        <input type="submit" value="確定" id="submit-button">
        <input type="reset" value="清除" id="reset-button">


    </form>
</div>

<div id="message" style="text-align: center; margin-top: 10px;">
    {{ message }}
</div>

{% endblock %}