{% extends "base.html" %}
{% load static %}
{% block title %}銷售圖表{% endblock %}

{% block content %}
<div id="title">
    <h1>銷售圖表</h1>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h4>商品銷售量</h4>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="chBar" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // chart.js chart examples

    // chart colors
    var colors = ['#007bff', '#7EACB5', '#28a745', '#D2E0FB', '#444444', '#c3e6cb', '#dc3545', '#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
        labels: ["S", "M", "T", "W", "T", "F", "S"],
        datasets: [{
            data: [589, 445, 483, 503, 689, 692, 634],
            backgroundColor: colors[0]
        },
        {
            data: [209, 245, 383, 403, 589, 692, 580],
            backgroundColor: colors[1]
        },
        {
            data: [489, 135, 483, 290, 189, 603, 600],
            backgroundColor: colors[2]
        },
        {
            data: [639, 465, 493, 478, 589, 632, 674],
            backgroundColor: colors[4]
        }]
    };

    if (chBar) {
        new Chart(chBar, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    x: {
                        barPercentage: 0.4,
                        categoryPercentage: 0.5
                    },
                    y: {
                        ticks: {
                            beginAtZero: false
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    }
</script>
{% endblock %}