{% extends "base.html" %}
{% load static %}
{% block title %}銷售圖表{% endblock %}

{% block content %}
<div id="title">
    <h1>銷售圖表</h1>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col">
            <h4>商品銷售量(總共)</h4>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="chBar1" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // 將Django dict轉成 js obj
    var productSales = {{ product_sales| safe }};

    var labels = Object.keys(productSales);
    var data = Object.values(productSales);

    // chart colors
    var colors = ['#7695FF', '#7EACB5', '#E8B86D', '#D2E0FB', '#CB80AB', '#c3e6cb', '#FF885B', '#6c757d'];

    var chBar = document.getElementById("chBar");
    var chartData = {
        labels:
            labels
        ,
        datasets: [{
            data: data,
            // 將顏色一一分配，超過顏色會重複，不夠就照順序分配
            backgroundColor: colors.slice(0, labels.length)
        },
        ]
    };

    if (chBar1) {
        new Chart(chBar1, {
            type: 'bar',
            data: chartData,
            options: {
                scales: {
                    x: {
                        barPercentage: 0.4,
                        categoryPercentage: 0.5
                    },


                    y: {
                        ticks: {
                            beginAtZero: false
                        },
                        title: {
                            display: true,
                            text: '數量'
                        }
                    }

                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
    }
</script>

<div class="span" style="margin: auto;text-align: center;font-size: larger;">總銷售金額:{{total}}
</div>


{% endblock %}